{% extends 'layout_home.html.twig' %}

{% block content %}
    <h1>Kudos!</h1>
 
    <div class="logo-header ">
        <img src="{{ asset('/images/kudos.png') }}" alt="Company Logo" height="20">
    </div>
                
            
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quos facilis voluptates, iure odio hic facere dolorum? Debitis cum nisi voluptas nulla sunt hic perspiciatis atque explicabo, veritatis dolorum asperiores.</p>
{% endblock %}

{% block title %}Kudos | Celebrate Each Other{% endblock %}