body {
    background-color: #ebebeb;
}

.navbar img{
    height: 3.5rem;
}

.navbar a{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    font-weight: 200;
}

.navbar li :hover,
:active{
    color: purple;
    
   
}

.card{
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.col h1{
    text-align: center;
    color: black;
    font-weight: lighter;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.searchKudos{
    text-align: center;
    margin-bottom: 3rem;
}

.searchKudos input{
    border-radius: 10px;
    padding: 6px 15px;
    border: none;
    width: 30%;
}

.searchKudos button{
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
}

.order{
    padding-right: 0.5rem;
}