{% extends 'layout_home.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

    <h1>Enter Email to reset password</h1>


    {% for message in app.flashes('error') %}
        <div>{{ message }}</div>
    {% endfor %}

    <form method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Submit</button>
    </form>

{% endblock %}